{% extends 'note/layout.html.twig' %}

{% block title %}Liste des notes {% endblock %}

{% block content %}
  <h1>Dernières Notes</h1>
  <ul>
  {% for note in notes %}
        <li>
          <a href="{{ path('note_show', {'id': note.id}) }}">#{{ note.id }} {{ note.title }}</a>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
