{% extends 'base.html.twig' %}

{% block title %}Nouvelle Note{% endblock %}

{% block body %}
    <h1>Nouvelle Note</h1>

    {{ include('note/_form.html.twig') }}

    <a href="{{ path('note_index') }}">Annuler</a>
{% endblock %}
